.advantages {
  padding: 87px 0 120px;
  background-color: rgba(0, 153, 255, 0.2);
  background-size: cover;
  background-image: image-set(
    url("../img/backgrounds/advantages/sky@2x.webp") 2x,
    url("../img/backgrounds/advantages/sky.webp") 1x,
    url("../img/backgrounds/advantages/sky@2x.jpg") 2x,
    url("../img/backgrounds/advantages/sky.jpg") 1x,
  );

  @include vp-1023 {
    padding-top: 69px;
    padding-bottom: 100px;
    background-image: image-set(
      url("../img/backgrounds/advantages/sky-tablet@2x.webp") 2x,
      url("../img/backgrounds/advantages/sky-tablet.webp") 1x,
      url("../img/backgrounds/advantages/sky-tablet@2x.jpg") 2x,
      url("../img/backgrounds/advantages/sky-tablet.jpg") 1x,
    );
  }

  @include vp-767 {
    padding-top: 37px;
    padding-bottom: 66px;
    background-image: image-set(
      url("../img/backgrounds/advantages/sky-mobile@2x.webp") 2x,
      url("../img/backgrounds/advantages/sky-mobile.webp") 1x,
      url("../img/backgrounds/advantages/sky-mobile@2x.jpg") 2x,
      url("../img/backgrounds/advantages/sky-mobile.jpg") 1x,
    );
  }
}

.advantages__header {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 150%;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 150%;
  }
}

.advantages__list {
  margin: 0;
  margin-top: 49px;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

.advantages__item {
  padding: 30px 30px 38px;
  background-color: $color-default-white;

  @include vp-1023 {
    padding: 26px 15px 16px 20px;
  }

  @include vp-767 {
    padding-bottom: 14px;
  }
}

.advantages__icon-svg {
  @include vp-1023 {
    height: 26px;
    width: auto;
  }
}

.advantages h3 {
  margin-top: 12px;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  @include vp-1023 {
    font-size: 18px;
    line-height: 140%;
  }

  @include vp-767 {
    max-width: 84%;
  }
}

.advantages p {
  margin-top: 7px;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  @include vp-1023 {
    font-size: 14px;
    line-height: 140%;
  }
}
