.custom-input,
.custom-textarea {
  input {
    padding: 11px 16px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    font-family: inherit;
    color: $color-default-black;

    @include behavior(1, 1);
  }

  // можно добавить цвет бордера или аутлайна,
  // цвет текста неверно заполненного поля
  //
  // &.is-invalid {
  //   input,
  //   textarea {
  //     color: #ff0000;
  //     outline: 2px solid #ff0000;
  //     outline-offset: 1px;
  //   }
  // }

  .input-message {
    &.is-invalid {
      color: #fbff00;
    }
  }
}
