.main-header {
  background-color: $color-arctic-blue;
  color: $color-default-white;
  background-image: url("../img/backgrounds/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;


  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/main-background@2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/backgrounds/main-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/main-background-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/backgrounds/main-background-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/main-background-mobile@2x.jpg");
    }
  }
}

.main-header__first-line {
  padding: 35px 0 42px;
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 20px;
  align-items: center;
  z-index: 1;

  @include vp-1023 {
    padding: 30px 0 37px;
    grid-template-columns: 40px 1fr;
  }

  @include vp-767 {
    padding: 20px 0 27px;
    gap: 10px;
    grid-template-columns: 44px 1fr;
  }
}

.main-header__main-logo-link {
  align-self: start;
  justify-self: start;
  line-height: 0;
}

.main-header__main-logo-svg {
  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.main-header__nav {
  margin-top: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  @include vp-1023 {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    &--mobile-hidden {
      display: none;
    }
  }
}

.main-header__nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;

  @include vp-1023 {
    gap: 24px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: unset;
    justify-content: start;
    gap: 6px;
    flex-wrap: nowrap;
    text-align: right;
  }
}

.main-header__nav-link {
  padding: 8px 0;

  @include vp-767 {
    padding: 8px;
    display: block;
  }
}

.main-header__intro {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.main-header__intro-container {
  min-height: 535px;
  padding: 0 95px;
  padding-bottom: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include vp-1023 {
    min-height: 551px;
    padding: 0;
    padding-bottom: 94px;
  }

  @include vp-767 {
    min-height: 431px;
    padding: 0;
    padding-bottom: 72px;
  }
}

.main-header h1 {
  margin: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 125%;
  }
}

.main-header p {
  margin: 0;
  margin-top: 12px;
  font-size: 20px;
  line-height: 24px;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 140%;
  }
}

.main-header__menu-toggle {
  display: none;

  @include vp-767 {
    &--with-js {
      display: block;
    }
  }

  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 53px;
  border: none;
  background-color: transparent;
  z-index: 2;

  &::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 14px;
    top: 24px;
    right: 15px;
    background-image: linear-gradient(
      $color-default-white 0,
      $color-default-white 2px,
      transparent 2px,
      transparent 6px,
      $color-default-white 6px,
      $color-default-white 8px,
      transparent 8px,
      transparent 12px,
      $color-default-white 12px,
    );
  }

  &--opened {
    &::before {
      position: absolute;
      content: "";
      width: 18px;
      height: 2px;
      background-color: $color-default-black;
      top: 30px;
      right: 12px;
      transform: rotate(45deg);
      background-image: unset;
    }

    &::after {
      position: absolute;
      content: "";
      width: 18px;
      height: 2px;
      background-color: $color-default-black;
      top: 30px;
      right: 12px;
      transform: rotate(-45deg);
    }
  }
}

//                                                                   open mobile menu
@include vp-767 {
  .main-header--mobile-with-js-open {
    padding-top: 69px;

    .main-header__first-line {
      padding: 20px 15px;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 26px;

      position: absolute;
      margin: 0;
      top: 0;
      left: 100%;
      min-height: 100vh;
      width: calc(100vw - 36px);

      background-color: $color-default-white;
      color: $color-default-black;

      &--hidden {
        transition: 0.7s;
        transform: translate(calc(100% + 36px));
      }

      &--moving {
        transform: translate(-100%);
      }

      &::after {
        position: absolute;
        content: "";
        width: 36px;
        height: 100%;
        min-height: 100vh;
        top: 0;
        left: -36px;
        background-color: rgba(0, 43, 102, 0.5);
        z-index: -12;
      }
    }

    .main-header__main-logo-svg {
      fill: $color-default-black;
    }

    .main-header__nav {
      margin: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      align-self: stretch;
    }


    .main-header__nav-list {
      margin-top: 9px;
      flex-wrap: nowrap;
      align-items: unset;
      gap: 12px;
      text-align: left;
    }

    .main-header__nav-link {
      padding-left: 10px;
    }
  }
}
