.upcoming-cruises {
  padding: 62px 0 120px;
  padding-left: 15px;
  padding-right: 15px;

  @include vp-1023 {
    padding-top: 68px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 37px;
    padding-bottom: 65px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.upcoming-cruises h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
  }

  @include vp-767 {
    font-size: 24px;
  }
}

.upcoming-cruises__list {
  margin: 0;
  margin-top: 49px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  justify-content: center;
  align-items: start;
  gap: 30px;
  color: $color-default-white;

  @include vp-1023 {
    grid-template-columns: repeat(auto-fit, 309px);
  }

  @include vp-767 {
    margin-top: 30px;
    grid-template-columns: 1fr;
  }
}

.upcoming-cruises__item {
  position: relative;
  height: 386px;
  overflow: hidden;
  background-color: $color-default-black;

  @include behavior(1, 1);

  @include vp-767 {
    height: auto;
    min-height: 386px;
  }

  &:hover,
  &:focus-within {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 80px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-default-black;
      z-index: 1;
    }

    .upcoming-cruises__button {
      display: flex;
      position: absolute;
      bottom: 34px;
      left: 25px;
      right: 25px;
      z-index: 1;

      @include vp-1023 {
        left: 35px;
        right: 35px;
      }

      @include vp-767 {
        left: 25px;
        right: 25px;
      }
    }

    .upcoming-cruises__text {
      display: flex;
      flex-direction: column;
      padding-bottom: 80px;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: auto;
      background-color: $color-default-black;
    }

    .upcoming-cruises__cruise-description {
      display: block;
    }

    h3 {
      position: relative;
      width: unset;
      height: unset;
      display: unset;
      padding: 28px 25px;
      padding-bottom: 2px;

      @include vp-1023 {
        padding: 28px 35px;
        padding-bottom: 2px;
      }

      @include vp-767 {
        padding: 28px 25px;
        padding-bottom: 2px;
      }
    }
  }
}

.upcoming-cruises__item h3 {
  margin: 0;
  padding: 22px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;

  @include vp-1023 {
    padding: 27px 35px;
  }

  @include vp-767 {
    padding: 17px 25px;
  }
}

.upcoming-cruises__item h4 {
  margin: 0;
  margin-top: 11px;
  padding: 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

.upcoming-cruises__item p {
  margin: 0;
  margin-top: 2px;
  padding: 0 0;
  font-size: 14px;
  line-height: 140%;
  color: #d8d8d9;
}

.upcoming-cruises__cruise-description {
  display: none;
  padding: 0 25px 0;

  @include vp-1023 {
    padding: 0 35px 0;
  }

  @include vp-767 {
    padding: 0 25px 0;
  }
}

.upcoming-cruises__button {
  display: none;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  padding: 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  background-color: $color-default-white;
  color: $color-default-black;
  user-select: none;

  @include behavior;
}

.upcoming-cruises__img {
  width: 100%;
  min-height: 386px;
  object-fit: cover;
}
