.upcoming-cruises {
  padding: 62px 0 120px;
  padding-left: 15px;
  padding-right: 15px;

  @include vp-1023 {
    padding-top: 68px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 37px;
    padding-bottom: 65px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.upcoming-cruises h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
  }

  @include vp-767 {
    font-size: 24px;
  }
}

.upcoming-cruises__list {
  margin: 0;
  margin-top: 49px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  color: $color-default-white;

  @include vp-767 {
    margin-top: 30px;
  }
}

.upcoming-cruises__item {
  position: relative;
  min-height: 386px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0;

  &:hover,
  &:focus-within {
    .upcoming-cruises__cruise-description {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 100%;
    }

    h3 {
      align-self: stretch;
      padding: 30px 25px;
      padding-bottom: 1px;
      background-color: $color-default-black;

      @include vp-1023 {
        padding: 29px 35px 1px;
      }

      @include vp-767 {
        padding: 29px 25px 1px;
      }
    }
  }
}

.upcoming-cruises__item h3 {
  margin: 0;
  padding: 22px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  @include vp-1023 {
    padding: 27px 35px;
  }

  @include vp-767 {
    padding: 17px 25px;
  }
}

.upcoming-cruises__item h4 {
  margin: 0;
  margin-top: 11px;
  padding: 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

.upcoming-cruises__item p {
  margin: 0;
  margin-top: 2px;
  padding: 0 0;
  font-size: 14px;
  line-height: 140%;
  color: #d8d8d9;
}

.upcoming-cruises__cruise-description {
  display: none;
  padding: 0 25px 35px;
  background-color: $color-default-black;

  @include vp-1023 {
    padding: 0 35px 35px;
  }

  @include vp-767 {
    padding: 0 25px 35px;
  }
}

.upcoming-cruises__button {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  padding: 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  background-color: $color-default-white;
  color: $color-default-black;
}

.upcoming-cruises__background-color {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 140, 255, 0.7);
  z-index: -1;
}

.upcoming-cruises__img {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
